*.app
*.bin
*.build
*.bmp
*.bc
*.cdb
*.d
*.dcp
*.bda
*.dbg
*.dat
*.exe
*.elf
*.g
*.hwh
*.history
*.hdb
*.ini
*.info
*.index
*.jou
*.jpg
*.lpr
*.log
*.lock
*.location
*.launch
*.list
*.mp3
*.m4a
*.mem
*.mk
*.o
*.pdf
*.png
*.pb
*.pdom
*.prj
*.prefs
*.properties
*.qpf
*.qsf
*.raw
*.rst
*.rpt
*.rpx
*.reloc
*.rlx
*.rtti
*.resources
*.size
*.su
*.str
*.sdb
*.svtype
*.type
*.tree
*.tdf
*.udb
*.wav
*.wpc
*.wcfg
*.wdf
*.wdb
*.wdm
*.xpr
*.xci
*.xml
*.xmi
*.xdbg

# 管理しないプロジェクト
Xilinx/workspace/IP/*
Xilinx/workspace/Sample/*
Xilinx/workspace/net_test/*
Xilinx/workspace/Arty_z7_20/AXI/*

# Toho Gameのみ対応する
Xilinx/workspace/Arty_z7_20/HDMI/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/
Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/
Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/RPG_System_ver1/
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/
Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/sources_1


Excel/
Videos/
Shortcut/
Android/
Cad/
picture/
Renesas/
.history/
tags