*.app
*.bin
*.build
*.bmp
*.brd
*.bsd
*.bc
*.cdb
*.d
*.dcp
*.DS_Store
*.dmg
*.bda
*.dbg
*.dat
*.exe
*.elf
*.g
*.hwh
*.history
*.hdb
*.ini
*.info
*.index
*.jou
*.jpg
*.lpr
*.log
*.lock
*.location
*.launch
*.list
*.mp3
*.m4a
*.mem
*.mk
*.o
*.olb
*.pdf
*.png
*.pb
*.pdom
*.prj
*.prefs
*.properties
*.qpf
*.qsf
*.raw
*.rst
*.rpt
*.rpx
*.reloc
*.rlx
*.rtti
*.resources
*.size
*.su
*.str
*.sdb
*.svtype
*.txt
*.type
*.tree
*.tile
*.tdf
*.udb
*.wav
*.wpc
*.wcfg
*.wdf
*.wdb
*.wdm
*.xpr
*.xci
*.xcf
*.xml
*.xmi
*.xlsm
*.xlsx
*.xdbg
*.zip

# 管理しないプロジェクト ArtyZ7
# Xilinx/workspace/IP/*
# Xilinx/workspace/Sample/*
# Xilinx/workspace/Arty_z7_20/AXI/*
# Efinix/

# Toho Gameのみ対応する
Xilinx/Arty_z7_20/HDMI/*
!Xilinx/Arty_z7_20/HDMI/HDMI_VGA/
Xilinx/Arty_z7_20/HDMI/HDMI_VGA/*
!Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/
Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/*
!Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/RPG_System_ver1/
!Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/
Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/*
!Xilinx/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.srcs/sources_1

# ArtyS7
Xilinx/ArtyS7/SignalTraining/*

App/
Excel/
Videos/
Shortcut/
Android/
Cad/
picture/
Renesas/
Business/
Waveform/
.history/
tags
