*.ini
*.pdom
*.jou
*.log
*.str
*.raw
*.bin
*.build
*.index
*.bmp
*.o
*.wav
*.mp3
*.exe
*.pdf
*.png
*.jpg
*.bmp

# 
# TohoProjectのworkspaceのみgitに反映させる
# 
Xilinx/*
!Xilinx/workspace/

Xilinx/workspace/*
!Xilinx/workspace/Arty_z7_20/

Xilinx/workspace/Arty_z7_20/*
!Xilinx/workspace/Arty_z7_20/HDMI/

Xilinx/workspace/Arty_z7_20/HDMI/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/

Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/

Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/*
!Xilinx/workspace/Arty_z7_20/HDMI/HDMI_VGA/HDMI_DMA.vitis/RPG_System_ver1/

# 
# Ubuntuディレクトリは全てのファイルを反映させる
# 
# Ubuntu/
Excel/
Videos/
Shortcut/
Music/
RaspberryPi/
Android/
ARM/
Intel/
Cad/
picture/
python/
Renesas/
.history/
tags